header {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 80px;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  transition: all 0.5s ease;
}
header.hide {
  background: black;
  top: -80px;
}
header.show {
  background: black;
}
header nav {
  width: 100%;
  height: 100%;
}
header nav .overlay {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header nav .overlay .logo {
  flex-grow: 1;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
}
header nav .overlay .logo img {
  height: 100%;
}
header nav .overlay #menu-toggle {
  font-size: 40px;
  padding: 20px;
  color: white;
  cursor: pointer;
}
header nav .nav-items {
  display: flex;
  position: fixed;
  width: 300px;
  right: -300px;
  height: 100vh;
  top: 0;
  flex-direction: column;
  background-color: var(--accent-color);
  transition: right 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow-y: auto;
}
header nav .nav-items a, header nav .nav-items .sublist > div {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 2em;
  font-family: var(--title-font);
}
header nav .nav-items .sublist ul {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  display: flex;
  max-height: 0;
  overflow: hidden;
  flex-direction: column;
  transition: max-height 0.5s ease;
}
header nav .nav-items .sublist ul a {
  font-size: 1.2em;
  padding: 5px 20px;
}
header nav .nav-items .sublist > div {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .nav-items .sublist > div::after {
  font-family: "Font Awesome 6 Free";
  content: "\f0da";
  font-size: 0.7em;
  display: block;
  transform-origin: center;
  transition: transform 0.5s ease;
}
header nav .nav-items .sublist.show ul {
  max-height: 200px;
}
header nav .nav-items .sublist.show > div::after {
  transform: rotate(90deg);
}

.main-page {
  transition: margin 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.main-page.solid header {
  background-color: black;
}

body.menu-open {
  overflow: hidden;
}
body.menu-open .main-page {
  margin: 0 300px 0 -300px;
}
body.menu-open .nav-items {
  right: 0;
}

:root {
  --main-color: #C59031;
  --accent-color: #537d8d;
  --title-font: "Cardo", serif;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

main {
  background-color: white;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero-text {
  text-align: center;
  font-size: 2.8em;
  font-weight: bold;
  font-family: var(--title-font);
  color: white;
}

.hero-full {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: rgb(166, 166, 166);
  background-blend-mode: multiply;
}

.bg1 {
  background-color: var(--main-color);
  color: white;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
.tiles .tile {
  padding: 30px;
  text-align: center;
  width: 300px;
}
.tiles .tile .icon {
  font-size: 1.8em;
}
.tiles .tile .title {
  font-family: var(--title-font);
  font-weight: bold;
  font-size: 2em;
}
.tiles .tile .body {
  font-size: 1.5;
}
.tiles .tile .button {
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--main-color);
  width: 80px;
  margin: 0 auto;
  margin-top: 10px;
}
.tiles .tile .button:hover {
  background-color: white;
}

.slideshow {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slideshow .slide-frame {
  position: relative;
  margin: 20px;
  margin-bottom: 10px;
  width: 90vw;
  height: 60vw;
}
.slideshow .slide-frame .slides {
  width: 100%;
  height: 100%;
}
.slideshow .slide-frame .slides .slide-image {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: all 1s ease;
}
.slideshow .slide-frame .slides .slide-image.visible {
  opacity: 1;
  transition: all 1s ease;
}
.slideshow .slide-frame .btn {
  position: absolute;
  background-color: white;
  color: black;
  font-size: 1em;
  bottom: 0;
  padding: 10px;
  margin: 10px;
  width: 18px;
  text-align: center;
  cursor: pointer;
  border-radius: 20px;
}
.slideshow .slide-frame .btn-left {
  left: 0;
}
.slideshow .slide-frame .btn-right {
  right: 0;
}
.slideshow .content {
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;
}
.slideshow .content .slide-info {
  display: none;
  flex-direction: column;
}
.slideshow .content .slide-info.visible {
  display: flex;
}
.slideshow .content .slide-info > div {
  margin-bottom: 30px;
}
.slideshow .content .slide-info .title {
  font-size: 1.8em;
  font-weight: bold;
  font-family: var(--title-font);
  margin-bottom: 5px;
}
.slideshow .content .slide-info .date {
  font-style: italic;
  color: rgb(149, 149, 149);
}
.slideshow .content .slide-info .button {
  background: var(--main-color);
  color: white;
}

.button {
  background-color: white;
  padding: 10px;
  color: var(--main-color);
  display: inline-block;
  width: fit-content;
  border-radius: 2px;
  cursor: pointer;
}
.button:hover {
  background-color: white;
  transition: background-color 0.3s ease;
}

.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  padding-top: 80px;
  background-color: var(--main-color);
  color: white;
}
.page-header h1 {
  font-size: 3em;
  font-weight: bold;
}

h1 {
  font-family: var(--title-font);
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

.split {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  padding: 20px;
  gap: 20px;
}
.split > div {
  width: 100%;
  flex-grow: 1;
}
.split > div div {
  margin-bottom: 20px;
}
.split .map {
  width: 100%;
  height: 80vw;
}

@media only screen and (min-width: 700px) {
  .split {
    flex-direction: row;
  }
  .split > div {
    width: initial;
  }
  .split .map {
    width: 100%;
    height: 400px;
    max-width: 600px;
  }
  .slideshow {
    flex-direction: row-reverse;
  }
  .slideshow .slide-frame {
    height: 30vw;
    margin: 5%;
    margin-left: 0;
    flex-grow: 0.7;
  }
}
footer {
  background-color: #191919;
  color: white;
  text-align: center;
  padding: 50px;
}

/*# sourceMappingURL=style.css.map */
