
body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(244, 245, 247);
}

nav {
    padding: 10px;
    background-color: white;
    color: #222;
    box-shadow: 0px 0px 10px rgba(0,0,0,.4);
    z-index: 2;
}

nav .overlay {
    display: flex;
    justify-content: space-between;
}

nav .overlay .logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
}
nav .overlay span {
    font-size: 32px;
}

nav .nav-items {
    position: absolute;
    background-color: orange;
    height: 100%;
    width: 100%;

    display: none;
    flex-direction: column;
}

body.menu-open nav .nav-items {
    display: flex;
}

nav .nav-items a {
    text-decoration: none;
    color: black;
    padding: 10px;

}


section.bck-img {
    background-position: center;
    background-size: cover;
}
section.gradient, section.gradient-round {
    position: relative;
}

section.gradient::after{
    display: block;
    position: absolute;
    background-image: linear-gradient(180deg, transparent, #000);
    height: 50%;
    bottom: 0;
    left: 0;
    width: 100%;
    content: '';
}
section.tile.gradient::after {

    border-radius: 10px;
}


section.page-header {    
    height: 80vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
section.page-header .title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: white;
    padding: 20px;
    z-index: 2;
}

section.tile {
    margin: 5px;
    max-width: 800px;
    position: relative;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.4);
    height: 300px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    color: white;
}


section.tile .title {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
    margin-bottom: 10px;
}
section.tile .content {
    z-index: 2;
}

section.tile span {
    text-align: right;
    z-index: 2;
    margin-top: -20px;
}


footer {
    background-color: white;
    color: grey;
    text-align: center;
    padding: 50px;
}
