
body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(244, 245, 247);
}

a {
    color: initial;
    text-decoration: none;
}

nav {
    background-color: white;
    color: #222;
    box-shadow: 0px 0px 10px rgba(0,0,0,.4);
}

nav .overlay {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    z-index: 5;
}

nav .overlay .logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
}
nav .overlay span {
    font-size: 32px;
    cursor: pointer;
}

nav .nav-items {
    position: absolute;
    background-color: white;
    height: 100%;
    width: calc( 100% - 40px );
    padding: 0 20px;

    display: flex;
    flex-direction: column;
    z-index: 1;
    right: -100%;
    opacity: 0;
    transition: right .3s, opacity .3s;
}

body.menu-open nav .nav-items {
    right: 0px;
    opacity: 1;
    transition: right .5s, opacity .5s;
}

nav .nav-items a {
    text-decoration: none;
    color: black;
    padding: 20px 0;
    border-bottom: 1px solid hsla(0,0%,9%,.15);

}

@media only screen and (min-width: 800px) {

    nav {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    nav .overlay span {
        display: none;
    }
    nav .nav-items {
        position: initial;
        flex-direction: row;
        padding: 0;
        width: initial;
        height: 100%;
    }

    nav .nav-items a {
        padding: 0 20px;
        border: none;
        height: 100%;
    }

}


section.bck-img {
    background-position: center;
    background-size: cover;
}
section.gradient, section.gradient-round {
    position: relative;
}

section.gradient::after{
    display: block;
    position: absolute;
    background-image: linear-gradient(180deg, transparent, #000);
    height: 50%;
    bottom: 0;
    left: 0;
    width: 100%;
    content: '';
}
section.tile.gradient::after {

    border-radius: 10px;
}


section.page-header {    
    height: 70vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
section.page-header .title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: white;
    padding: 20px;
    z-index: 2;
}

section.tile {
    margin: 10px;
    max-width: 800px;
    position: relative;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.4);
    height: 300px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    color: white;
}


section.tile .title {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
    margin-bottom: 10px;
}
section.tile .content {
    z-index: 2;
}

section.tile span {
    text-align: right;
    z-index: 2;
    margin-top: -20px;
}



footer {
    background-color: white;
    color: grey;
    text-align: center;
    padding: 50px;
}
