body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
    transition: height .2s, background-color .2s;
}
nav .nav-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: stretch;
}
nav .logo {
    width: 408px;
}
nav .logo img {
    height: 50px;
    filter: invert(100);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
nav .nav-links {
    width: 100%;
}
nav .nav-links > ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav .nav-links > ul > li {
    height: 100%;
}

nav li > a {
    display: inline-block;
    color: white;
    text-decoration: none;
    line-height: 100px;
    padding: 0 20px;
    transition: line-height .2s;
}

nav.float {
    height: 70px;
    background-color: #222;
    transition: all .2s;
}
nav.hide {
    top: -100px;
    transition: top .2s;
}
nav.float li > a {
    line-height: 70px;
    transition: all .2s;
}



.base-container {
    width: 100%;
    min-height: 80vh;
    
}
.base-container.no-image {
    margin-top: 70px;
}

.image-full {
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
}

.content-container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}


footer {
    background-color: #111;
    color: white;
    padding: 30px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

footer > div {
    padding: 20px;
}