{{#section 'title'}}Not Found{{/section}}
{{#section 'navstyle'}}clear{{/section}}

<div class="page-header">
    <h1>Not Found</h1>
</div>
<div class="main-content text-content">
    Oops, seems there was a mistake. Click <a href="/">here</a> to go back to the home page.
</div>