{{#section 'title'}}About{{/section}}

<p>People attending Friendly Arabic come from a variety of cultural, social and even religious backgrounds. Even though we are all different in many ways, there is one thing that unites us – the Gospel of Jesus Christ.</p>

<p>Friendly Arabic Church is a member church of the Southern Baptist Convention (SBC), The SBC adopted a doctrinal statement which reflects the core beliefs of Friendly Arabic, titled the Baptist Faith and Message.</p>

 

<p>Following is a summary of some of the beliefs that all Christians share as well as the beliefs that make us distinct as Baptists.</p>

<p>God: There is one God. He is the Creator and Ruler of the universe. He eternally exists in three persons: the Father, the Son and the Holy Spirit. These three are co-equal and one. God is perfect in His attributes of holiness, love, mercy, power and knowledge.
</p>
<p>
Genesis 1:1, 26, 27 Deuteronomy 6:4 Isaiah 43:3, 15 Jeremiah 10:10 John 14:6-13 1 Corinthians 8:6
</p>
 
<p>
Jesus Christ: Jesus Christ is God’s Son. He is co-equal with God the Father. He was born of a virgin, lived a sinless life, died on the cross as the perfect sacrifice for the sins of the world, rose again after three days, ascended to Heaven and will return again someday to earth to reign as King of Kings and Lord of Lords.
</p>
<p>
Isaiah 7:14; ch. 53 Matthew 1:18-23; 14:33; 16:16 Luke 24:46 John 1:1-18; 3:16; 10:30; 11:25-27 Colossians 1:15-22; 2:9 Revelation 1:13-16; 5:9-14
</p>
 
<p>
The Holy Spirit: The Holy Spirit is co-equal with God the Father and the Son, Jesus Christ. He is the Divine Helper, Instructor, Guide and Counselor. He lives in every believer from the moment of salvation providing power for living, guidance and understanding of spiritual truth. He exalts Christ and convicts man of sin and righteousness and judgment. He enlightens and empowers the believer.
</p>
<p>
Genesis 1:2 Psalms 51:11 Matthew 1:18 Luke 1:35; 4:18-19; 12:12 John 14:16-17, 26; 16:7-14 Acts 2:1-4 Romans 8:14-16, 26-27 1 Corinthians 2:10-14

 </p>
<p>
The Bible: The Bible is God’s written revelation of Himself to man. It was written by human authors under the supernatural guidance of the Holy Spirit. The Bible is the sole source of truth, is inerrant and is divinely inspired by God.
</p>
<p>
Deuteronomy 4:1-2 Psalms 119:89, 105 John 17:17 Romans 15:4; 16:25-26 2 Timothy 3:15-17 Hebrews 4:12 1 Peter 1:25 2 Peter 1:19-21
</p>
<p>
 

Salvation: Salvation is a gift from God to man. Man is sinful, therefore cannot earn or deserve eternal life. Sin has separated us from God and made us unacceptable to Him. God sent Jesus, who was sinless, to die on the cross and pay the penalty for our sin. Salvation is free to all who trust in Jesus Christ as the perfect sacrifice for the sins of the world. Faith in Jesus is the only way we can have eternal life.
</p>
<p>
Genesis 3:15 Isaiah 7:14 Matthew 16:21 John 1:1-11; 3:3-21
</p>
<p>
Romans 6:23; 5:8-10; 10:9-10 Ephesians 1:7 1 Peter 1:2-23
</p>
<p>
 

Eternal Security: Because salvation is based on the person and work of Christ, and is not based on man’s works, the believer is secure throughout eternity. Salvation is maintained by the grace and power of God, not by the self-sufficiency of the believer.
</p>
<p>
John 10:25-29 2 Timothy 1:12 Hebrews 7:25; 10:10-14 1 Peter 1:3-5
</p>
<p>
 

Baptism: Christian baptism is the immersion of a believer in water, giving public testimony of his faith in Christ. It is a physical act symbolizing the spiritual salvation of the believer and as such has no saving quality of its own. Baptism is the outward, visible testimony of salvation.
</p>
<p>
Matthew 3:13-17; 28:19-20 Mark 1:9-11 Acts 2:41-42; 8:35-39 Romans 6:3-5 Colossians 2:12</p>
</p>