{{#section 'title'}}Contact{{/section}}

<!--<div class="page-header bck-img gradient" style="background-image: url(/images/pray.jpg)">
    <div class="title">Contact Us</div>
</div>-->
<div class="main-content">
    <center><h1>Contact Us</h1></center>
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3223.698709914684!2d-80.09473814876115!3d36.10083188000101!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88530750821bfc13%3A0x790985b13c67faab!2sFriendly%20Arabic%20Church!5e0!3m2!1sen!2sus!4v1647401750959!5m2!1sen!2sus" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <div class="icon-paragraph"><span class="material-icons">email</span> <a href="mailto:friendlyarabic@gmail.com">friendlyarabic@gmail.com</a></div>
    <div class="icon-paragraph"><span class="material-icons">place</span> <a target="__blank" href="http://maps.apple.com/?daddr=1292+Whicker+Rd+Kernersville,+NC+27284">1292 Whicker Rd, Kernersville, NC 27284</a></div>
</div>