{{#section 'title'}}Contact{{/section}}
{{#section 'navstyle'}}clear{{/section}}

<div class="page-header">
    <h1>Contact</h1>
</div>
<div class="split">
    <div>
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3223.698499842239!2d-80.092549!3d36.100837!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88530750821bfc13%3A0x790985b13c67faab!2sFriendly%20Arabic%20Church!5e0!3m2!1sen!2sus!4v1679702529928!5m2!1sen!2sus" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div>
        <h1>Friendly Arabic Church</h1>
        <div><strong>Service Times:</strong> Sunday; English at 10am &amp; Arabic at 11:30am</div>
        <div>1292 Whicker Road,<br>Kernersville, NC 27284</div>
        <div><a href="mailto:friendlyarabic@gmail.com">friendlyarabic@gmail.com</a></div>
    </div>
</div>