{{#section 'title'}}Contact{{/section}}

<div class="page-header bck-img gradient" style="background-image: url(/images/pray.jpg)">
    <div class="title">Contact Us</div>
</div>
<div class="main-content">
    <h1>Church Building</h1>
    <p>Email: <a href="mailto:friendlyarabic@gmail.com">friendlyarabic@gmail.com</a></p>
    <p></p>
    <p>Location:<br>1292 Whicker Rd<br>Kernersville, NC 27284</p>
</div>