{{#section 'title'}}Home Page{{/section}}
{{#section 'preContent'}}
    <div class='image-full' style='background-image: url(/static/images/pray.jpg)' >

    </div>
{{/section}}

<h1>HELLO</h1>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>