{{#section 'title'}}Home{{/section}}


<section class="tile tile-full bck-img gradient" style="background-image: url(/images/pray.jpg)">
    <div class="title">Sharing the Love of Jesus</div>
    <div class="content">Learn More</div>
    <span class="material-icons">chevron_right</span>
</section>

<div class="tile-container">
<section class="tile bck-img gradient" style="background-image: url(/images/conference.jpg)">
    <div class="title">2022 Conference</div>
    <div class="content">Our Anual Conference on Labor Day Week is coming! Sign up now!</div>
    <span class="material-icons">chevron_right</span>
</section>

<section class="tile bck-img gradient" style="background-image: url(/images/worship.jpg)">
    <div class="title">Our Services</div>
    <div class="content">We have both Arabic and English Services. Come join us!</div>
    <span class="material-icons">chevron_right</span>
</section>

<section class="tile bck-img gradient" style="background-image: url(/images/worship.jpg)">
    <div class="title">Online</div>
    <div class="content">Our services are streamed online! Join us from anywhere.</div>
    <span class="material-icons">chevron_right</span>
</section>
</div>