{{#section 'title'}}Home{{/section}}

<div id="bigimage" class="hero hero-full hero-loading">
    <div class="hero-text">Love&nbsp;God, Love&nbsp;Others, Make&nbsp;Disciples</div>
</div>

<script>
    var o = document.getElementById("bigimage")
    var i = new Image()
    i.onload = function(e) {
        o.style.backgroundImage = "url(/images/conference-new.jpg)"
        o.classList.remove("hero-loading")
    }
    i.src = "/images/conference-new.jpg"
</script>

<section class="tiles bg1">
    <div class="tile">
        <div class="icon"><i class="fa-solid fa-circle-question"></i></div>
        <div class="title">Learn</div>
        <div class="body">Learn what we believe and what is our purpose.</div>
        <a class="button" href="/about/history">More</a>
    </div>
    <div class="tile">
        <div class="icon"><i class="fa-solid fa-church"></i></div>
        <div class="title">Attend</div>
        <div class="body">Come worship with us on Sundays.</div>
        <a class="button" href="/contact">More</a>
    </div>
    <div class="tile">
        <div class="icon"><i class="fa-solid fa-person-chalkboard"></i></div>
        <div class="title">Sermons</div>
        <div class="body">View all of our previous sermons.</div>
        <a class="button" target="__blank" href="https://youtube.com/@BibleChurchofClemmons">More</a>
    </div>
</section>

<section class="slideshow">
    <div class="slide-frame">
        
        <div class="slides">
            <div class="slide-image visible" style="background-image: url(/images/pray.jpg)"></div>
            <!--<div class="slide-image" style="background-image: url(/images/conference.jpg)"></div>-->
        </div>
        <i class="btn btn-left fa-solid fa-chevron-left"></i>
        <i class="btn btn-right fa-solid fa-chevron-right"></i>
    </div>
    <div class="content">
        <div class="slide-info visible">
            <div class="title">No Events</div>
            <div class="date"></div>
            <div class="body">Check back soon!</div>
            {{!--<a class="button" href="/events/communityday">Learn More</a>--}}
        </div>
        {{!--<div class="slide-info">
            <div class="title">Random Test Slide</div>
            <div class="date">Feburary 29</div>
            <div class="body">Some random test slide</div>
            <div class="button">Okay</div>
        </div>--}}
    </div>
</section>
