{{#section 'title'}}Home{{/section}}

<a target="__blank" href="https://friendlyarabic.regfox.com/friendly-arabic-conference"  class="tile tile-full bck-img gradient-round" style="background-image: url(/images/conference.jpg)">
    <div class="title">2022 Conference: Register Here</div>
    <div class="content">Our Anual Conference on Labor Day Week is coming! Click here to register now!</div>
    <span class="material-icons">chevron_right</span>
    
</a>

<div class="tile-layout">
    <div id="news" class="tile-container">
        <h1>News</h1>
        <a  href="/about" class="tile bck-img gradient-round" style="background-image: url(/images/pray.jpg)">
            <div class="title">Sharing the Love of Jesus</div>
            <div class="content">Learn More</div>
            <span class="material-icons">chevron_right</span>
        </a>

        <a class="tile bck-img gradient-round" style="background-image: url(/images/withhim.jpg)">
            <div class="title">With Him Weekened</div>
            <div class="content">March 11th, 2022 - Learn More</div>
            <span class="material-icons">chevron_right</span>
        </a>
    </div>
    <div id="quick-links" class="tile-container">
        <h1>Quick Links</h1>
        <div class="tile tile-list">
            <a href="/about/services">Service Times</a>
            <a href="/">Past Sermons</a>
            <a href="/">Calendar</a>
        </div>
        <h1>Follow Us</h1>
        <div class="tile tile-list">
            <a href="https://www.facebook.com/FriendlyArabicChurch" target="_blank"><div>Facebook</div><div class="material-icons">open_in_new</div></a>
            <a href="https://www.youtube.com/channel/UCXHwzWolojsUfQJLxKUb23g" target="_blank"><div>Youtube</div><div class="material-icons">open_in_new</div></a>
        </div>
    </div>
</div>