{{#section 'title'}}Home{{/section}}

<div id="bigimage" class="hero page-full hero-loading">
    <div class="hero-text">Love&nbsp;God, Love&nbsp;Others, Make&nbsp;Disciples</div>
</div>

<script>
    var o = document.getElementById("bigimage")
    var i = new Image()
    i.onload = function(e) {
        o.style.backgroundImage = "url(/images/conference-new.jpg)"
        o.classList.remove("hero-loading")
        o.classList.add("scroll-suggest")
    }
    i.src = "/images/conference-new.jpg"
</script>

<div class="page page-half">
    <div class="page-image-container">
         <div class="page-image animation-pan" style="background-image: url(/images/festival-small.jpg)"></div>
        <div class="page-image hide" style="background-image: url(/images/festival/Tent.JPG)"></div>
        <div class="page-image hide" style="background-image: url(/images/festival/SundaySermon.JPG)"></div>
    </div>
    <div class="title">Middle Eastern Christian Festival 2025</div>
    <div class="date">September 20th - 21st; 10AM - 6PM</div>
    <div class="body">Our yearly festival is approaching!</div>
    <a class="button" href="/events/festival">Learn More <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
</div>

<!--
<div class="page page-half">
    <div class="page-image-container black-gradient">
        <div class="page-image animation-pan" style="background-image: url(/images/ridgecrest.jpg)"></div>
        <div class="page-image hide" style="background-image: url(/images/ridgecrest2.jpg)"></div>

    </div>
    <div class="title">2025 BCC Family Conference</div>
    <div class="date">June 13-15</div>
    <div class="body">Registration is now officially open! Join us at Ridgecrest Conference Center!</div>
    <a class="button" target="_blank" href="https://biblechurchofclemmons.regfox.com/2025-bcc-annual-family-conference">Register Now <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
</div>-->
<section class="tiles bg1">
    <div class="tile">
        <div class="icon"><i class="fa-solid fa-circle-question"></i></div>
        <div class="title">Learn</div>
        <div class="body">Learn what we believe and what is our purpose.</div>
        <a class="button" href="/about/history">More</a>
    </div>
    <div class="tile">
        <div class="icon"><i class="fa-solid fa-church"></i></div>
        <div class="title">Attend</div>
        <div class="body">Come worship with us on Sundays.</div>
        <a class="button" href="/contact">More</a>
    </div>
    <div class="tile">
        <div class="icon"><i class="fa-solid fa-person-chalkboard"></i></div>
        <div class="title">Sermons</div>
        <div class="body">View all of our previous sermons.</div>
        <a class="button" target="__blank" href="https://youtube.com/@BibleChurchofClemmons">More</a>
    </div>
</section>
{{!-- 
<section class="slideshow">
    <div class="slide-frame">
        
        <div class="slides">
            <div class="slide-image visible" style="background-image: url(/images/festival-small.jpg)"></div>
            <!--<div class="slide-image" style="background-image: url(/images/conference.jpg)"></div>-->
        </div>
        <i class="btn btn-left fa-solid fa-chevron-left"></i>
        <i class="btn btn-right fa-solid fa-chevron-right"></i>
    </div>
    <div class="content">
        <div class="slide-info visible">
            <div class="title">Middle Eastern Christian Festival</div>
            <div class="date">April 27th - 28th</div>
            <div class="body">Our yearly festival is approaching!</div>
            <a class="button" href="/events/communityday">Learn More <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
        </div>
        {{!--<div class="slide-info">
            <div class="title">Random Test Slide</div>
            <div class="date">Feburary 29</div>
            <div class="body">Some random test slide</div>
            <div class="button">Okay</div>
        </div>--}}
    </div>
</section> --}}

