{{#section 'title'}}Home{{/section}}

<div class="hero hero-full" style="background-image: url(/images/festival.jpg)">
    <div class="hero-text">Love God, Love Others, Make Disciples</div>
</div>

<section class="tiles bg1">
    <div class="tile">
        <div class="icon"><i class="fa-solid fa-circle-question"></i></div>
        <div class="title">Learn</div>
        <div class="body">Learn what we believe and what is our purpose.</div>
        <div class="button">More</div>
    </div>
    <div class="tile">
        <div class="icon"><i class="fa-regular fa-church"></i></div>
        <div class="title">Attend</div>
        <div class="body">Come worship with us on Sundays.</div>
        <div class="button">More</div>
    </div>
    <div class="tile">
        <div class="icon"><i class="fa-solid fa-person-chalkboard"></i></div>
        <div class="title">Sermons</div>
        <div class="body">View all of our previous sermons.</div>
        <div class="button">More</div>
    </div>
</section>

<section class="slideshow">
    <div class="slide-frame">
        
        <div class="slides">
            <div class="slide-image visible" style="background-image: url(/images/conference.jpg)"></div>
            <div class="slide-image" style="background-image: url(/images/benji.jpeg)"></div>
            <div class="slide-image" style="background-image: url(/images/pray.jpg)"></div>
        </div>
        <i class="btn btn-left fa-solid fa-chevron-left"></i>
        <i class="btn btn-right fa-solid fa-chevron-right"></i>
    </div>
    <div class="content">
        <div class="slide-info visible">
            <div class="title">Arabic Christian Conference 2023</div>
            <div class="date">June 18-20</div>
            <div class="body">Join us for our yearly Arabic Church Conference! We have limited spaces, so sign up!</div>
            <div class="button">Signup Now</div>
        </div>
        <div class="slide-info">
            <div class="title">Bath Time</div>
            <div class="date">March 19</div>
            <div class="body">Benji is a cutie</div>
            <div class="button">Agree</div>
        </div>
        <div class="slide-info">
            <div class="title">Random Test Slide</div>
            <div class="date">Feburary 29</div>
            <div class="body">Some random test slide</div>
            <div class="button">Okay</div>
        </div>
    </div>
</section>