{{#section 'title'}}Services{{/section}}

<div class="page-header bck-img gradient" style="background-image: url(/images/pray.jpg)">
    <div class="title">Services</div>
</div>
<div class="main-content">
    <p>We have services for both English speaking and Arabic speaking. </p>
    <h2>English Services</h2>
    <div class="icon-paragraph"><span class="material-icons">church</span> Sunday Worship: 10:00-11:00</div>
    <div class="icon-paragraph"><span class="material-icons">school</span> Sunday School: 11:30-12:30</div>
    <h2>Arabic Services</h2>
    <div class="icon-paragraph"><span class="material-icons">school</span> Sunday School: 10:00-11:00</div>
    <div class="icon-paragraph"><span class="material-icons">church</span> Sunday Worship: 11:30-12:30</div>
</div>