{{#section 'title'}}Community Day{{/section}}
{{#section 'navstyle'}}clear{{/section}}

<div class="page-header">
    <h1>Community Day</h1>
</div>
<div class="main-content text-content">
   <p>Join us at the Bible Church of Clemmons for a Community Welcome Event on October 7th from 11 AM to 3 PM. We are a new Bible based church in the area and eager to open our doors to the neighborhood. We are hosting a gathering with worship, fellowship, and free food. We aim to create a relaxed and enjoyable atmosphere for everyone. Enjoy some good food, sociable gathering, and a warm welcome from your new Bible Church of Clemmons neighbors. We hope to see you there!</p>
</div>