{{#section 'title'}}Community Day{{/section}}
{{#section 'navstyle'}}clear{{/section}}

<div class="page-header">
    <h1>Middle Eastern Christian Festival</h1>
</div>

<div class="main-content text-content">
    <p>It is with joy and excitement that we invite you join us for our 2024 Middle Eastern Christian Festival! There will be middle eastern food, exhibits from many different middle eastern countries, worship music (English and Arabic), as well as traditional dances that you are able to participate in. For your kids, we have bounce castles, face paiting, and games just for them. Come and join us for this great time together!</p>
    <p>
        <strong>Date:</strong> April 27th - 28th, 2024<br>
        <strong>Time:</strong> 10AM - 6PM
    </p>
</div>
<div class="page page-half auto-slideshow">
    <div class="page-image-container">
        <div class="page-image animation-pan" style="background-image: url(/images/festival-small.jpg)"></div>
        <div class="page-image hide" style="background-image: url(/images/festival/Tent.JPG)"></div>
        <div class="page-image hide" style="background-image: url(/images/festival/CulturalTent1.JPG)"></div>
        <div class="page-image hide" style="background-image: url(/images/festival/SundaySermon.JPG)"></div>
        <div class="page-image hide" style="background-image: url(/images/festival/Bounce.JPG)"></div>
        <div class="page-image hide" style="background-image: url(/images/festival/TraditionalDance.JPG)"></div>
        <div class="page-image hide" style="background-image: url(/images/festival/Nails.JPG)"></div>
    </div>
    <div class="descriptions">
        <div>Traditional Line Dance Named 'Dabkeh'</div>
        <div class="hide">Main Tent</div>
        <div class="hide">One of the Many Cultural Tents</div>
        <div class="hide">Sunday Sermon, both in English and Arabic</div>
        <div class="hide">One of Three Bounce Castles</div>
        <div class="hide">A Traditional Dance</div>
        <div class="hide">Manicure Station</div>
    </div>
</div>

<div class="main-content text-content">
    <h1>Our Purpose</h1>
    <p>We host this yearly festival to glorify Jesus and demonstrate the power of the Gospel to bring peace with God, with others and within one’s own soul. In our festival, you will see people from many different countries from the Middle East, Africa, and around the World. In a world full of division and pride, we are able to come into intimate fellowship through the perfect redemptive work of Jesus on the cross.  Through Him, we have abundant eternal life, unity across language/culture and nationality, and an eternal hope of life beyond the grave.</p>
    <h1>Frequently Asked Questions</h1>
    <h2>How much does it cost?</h2>
    <p>There is no cost other than paying for food, which is, for example, 12 dollars for a delicious plate of Middle Eastern food with a drink and 7 dollars for a falafel sandwich with a drink.</p>
    <h2>What do you do with the money you make?</h2>
    <p>We have done this festival for many years and have never broke even. All money goes into paying for the cost of hosting the festival.</p>
    <h2>Where do I park?</h2>
    <p>We have plently of space for parking on site.</p>

</div>