
html, body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--color);
    //overflow-x: hidden;
}


a {
    color: var(--link-color);
}

footer {
    border-top: 1px solid hsla(0,0%,9%,.15);
    background-color: var(--surface-color);
    color: var(--color);
    text-align: center;
    padding: 40px;
}
footer > div {
    padding: 10px;
}
