
.bck-img {
    color: white;
    background-position: center;
    background-size: cover;
}

.gradient, .gradient-round, .gradient-round2 {
    position: relative;
    &::after {
        display: block;
        position: absolute;
        background-image: linear-gradient(180deg, transparent, #000);
        height: 50%;
        bottom: 0;
        left: 0;
        width: 100%;
        content: '';
    }
}
.gradient-round::after, .gradient-round2::after {
    border-radius: 10px;
}
.gradient-round2::after {
    height: 30%;
    background-image: linear-gradient(180deg, transparent, rgba(0,0,0,.5));
}

.tile-layout {
    margin: 0 auto;
}

.tile {
    margin: 20px 10px;
    position: relative;
    background-color: var(--surface-color);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.4);
    height: 300px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    color: white;
    text-decoration: none;
    
    .title {
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        z-index: 2;
        margin-bottom: 10px;
    }
    .content {
        z-index: 2;
    }
    span {
        text-align: right;
        z-index: 2;
        margin-top: -20px;
    }

}

.tile-list {
    height: initial !important;
    a {
        margin: 0px 10px;
        padding: 20px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: var(--color);
        text-decoration: none;
        
        border-top: 1px solid var(--border-color);
        span {
            display: block;
        }
        &:last-child {
            border-bottom: 1px solid var(--border-color);
        }
    }
}


.tile-container > h1 {
    text-align: center;
}


/*Adjusts page width manually for tiles*/
@media only screen and (min-width: 540px) {
    .tile {
        width: 500px;
        height: 293px;
        margin: 20px auto;
    }
    .tile-layout {
        width: 520px;
    }
}
@media only screen and (min-width: 770px) {
    .tile-container > h1 {
        text-align: initial;
    }
    
    .tile-full {
        width: 700px;
        height: 394px;
        .title {
            font-size: 40px;
        }
    }

    .tile-layout {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 720px;
    }
    .tile-container {
        width: 40%;
        display: flex;
        flex-direction: column;
        .tile {
            margin: 0px;
            margin-bottom: 20px;
            width: calc( 100% - 20px );
            height: 226px;
        }
    }
    #news {
        width: calc( 60% - 20px );
        margin-left: 0px;
    }
}
@media only screen and (min-width: 1040px) {
    .tile-full {
        width: 1000px;
        height: 563px;
    }
    .tile-layout {
        width: 1020px;
    }
    #news .tile {
        height: 322px;
    }

}
@media only screen and (min-width: 1240px) {
    .tile-full {
        width: 1200px;
        height: 675px;
    }
    .tile-full .title {
        font-size: 50px;
    }
    .tile-layout {
        width: 1220px;
    }
    #news .tile {
        height: 389px;
    }
}


