
:root {
    --main-color: #C59031;
    //--accent-color: #537d8d;
    //--accent-color: #003459;
    //--accent-color: #1C2541;
   // --accent-color: #16324F;
   --accent-color: #2E2836;
    --top-color: #EAEAEA;
    //--title-font: 'Cardo', serif;
    --title-font: 'Raleway', sans-serif;

}

@import "_nav.scss";


html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-size: 18px;
    font-family: "Roboto", sans-serif;

}

body {
    min-height: 100vh;
}

main {
    background-color: white;
}

main {
    min-height: calc( 100vh - 80px - 62px );
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .hero-text {
        text-align: center;
        //padding: 0 100px;
        //margin-top: 300px;
        font-size: 2.3em;
        //font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .1em;
        
        font-family: var(--title-font);
        color: white;
        //text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}

.hero-loading {
    background-color: black !important;
}
.page {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1em;
    box-sizing: border-box;

    .title {
        font-size: 2.3em;
        font-family: var(--title-font);
        text-transform: uppercase;
        margin-bottom: 10px;
        margin-left: 50px;
        z-index: 1;
    }
    .date {
        margin-bottom: 20px;
        font-style: italic;
        font-size: 1.2em;
        margin-left: 50px;
        z-index: 1;
    }
    .body {
        margin-bottom: 20px;
        font-size: 1.2em;
        margin-left: 50px;
        z-index: 1;
    }
    .button {
        margin-left: 50px;
        margin-bottom: 50px;
        z-index: 1;
    }
}
.page-full {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, .35);
    background-blend-mode: multiply;
    transition: background-color 3s .1s ease;
}

.page-half {
    height: 75vh;
    background-color: transparent;
    //background-size: cover;
    //background-position: center;
    //background-color: rgba(0, 0, 0, .45);
    //background-blend-mode: multiply;
    //transition: background-color 3s .1s ease;
}
.page-image-container {
    position: absolute;
    width: 100%;
    height: 75vh;
    overflow: hidden;

    .page-image {
        position: absolute;
        background-size: cover;
        background-position: center;
        display: block;
        width: 100%;
        height: 100%;
    }
}


.bg1 {
    background-color: var(--main-color);
    color: white;
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    .tile {
        padding: 30px;
        text-align: center;
        width: 300px;
        .icon {
            font-size: 1.8em;
            margin-bottom: 20px;
        }
        .title {
            font-family: var(--title-font);
            //font-weight: bold;
            font-size: 2em;
            //text-transform: uppercase;
            letter-spacing: .1em;
        }
        .body {
            font-size: 1.5;
            margin: 20px 0;
        }
        .button {
            background-color: rgba(255, 255, 255, 0.8);
            color: var(--main-color);
            width: 80px;
            margin: 0 auto;
            margin-top: 10px;
            &:hover {
                background-color: white;
            }
        }
    }
}

.slideshow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    .slide-frame {
        position: relative;
       /*margin: 20px;
        margin-bottom: 10px;*/
        width: 100%;
        height: 60vw;
        margin-bottom: 20px;
        .slides {
            width: 100%;
            height: 100%;
            .slide-image {
                position: absolute;
                opacity: 0;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
                transition: all 1s ease;
                &.visible {
                    opacity: 1;
                    transition: all 1s ease;
                }
            }
        }
        .btn {
            position: absolute;
            background-color: white;
            color: black;
            font-size: 1em;
            bottom: 0;
            padding: 10px;
            margin: 10px;
            width: 18px;
            text-align: center;
            cursor: pointer;
            border-radius: 20px;
        }
        .btn-left {
            left: 0;
        }
        .btn-right {
            right: 0;
        }
    }
    .content {
        width: 100%;
        box-sizing: border-box;
        .slide-info {
            display: none;
            flex-direction: column;
            &.visible {
                display: flex;
            }

            > div {
                margin-bottom: 30px;
            }
            .title {
                font-size: 1.8em;
                //font-weight: bold;
                font-family: var(--title-font);
                margin-bottom: 5px;
            }
            .date {
                font-style: italic;
                color:rgb(149, 149, 149);
            }
            .button {
                background: var(--main-color);
                color: white;
            }
        }
    }

    
}

.button {
    background-color: white;
    padding: 10px;
    color: var(--main-color);
    display: inline-block;
    width: fit-content;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
        background-color: white;
        transition: background-color .3s ease;
    }
}

.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    padding-top: 80px;
    background-color: var(--accent-color);
    color: white;
    h1 {
        font-size: 3em;
        font-weight: normal;
        letter-spacing: .1em;
        text-transform: uppercase;
        //font-weight: bold;
        text-align: center;
    }
}

h1 {
    font-family: var(--title-font);
    font-weight: normal;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

.split {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding: 20px;
    gap: 20px;
    > div {
        width: 100%;
        flex-grow: 1;
        div {
            margin-bottom: 20px;
        }
    }
    .map {
        width: 100%;
        height: 80vw;
    }
}

.text-content {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}
.verse-list {
    display: flex;
    flex-wrap: wrap;
    a {
        background-color: var(--main-color);
        color: white;
        border-radius: 20px;
        padding: 5px 10px;
        margin-right: 5px;
        margin-bottom: 5px;
        font-size: .8em;
    }
}

@media only screen and (min-width: 700px) {
    .split {
        flex-direction: row;
        > div {
            width: initial;
        }
        .map {
            width: 100%;
            height: 400px;
            max-width: 600px;
        }
    }
    .slideshow {
        flex-direction: row;
        .slide-frame {
            height: 30vw;
            margin: 0;
        }
        .content {
            padding: 30px;
        }
    }
    .hero-text {
        font-size: 2.8em !important;
    }
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;

}

.scroll-suggest::after {
    display: block;

    position: absolute;
    font-family: "Font Awesome 6 Free";
    content: "\f078";
    font-weight: 900;
    color: white;
    bottom: 40px;
    text-align: center;
    font-size: 3em;
    opacity: 0;
    animation: bounce 1s ease-in-out 2s infinite alternate, fade 1s ease 2s 1 forwards;
}

@keyframes bounce {
    0% {bottom: 40px;}
    100% {bottom: 30px;}
}
@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

.animation-pan {
    animation: pan1 20s ease-in 0s forwards;
}
@keyframes pan1 {
    from { transform: scale(1);}
    to { transform: scale(1.3);}
}