<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=.9" />
    <title>
        {{#if _fromPage.title}}
            {{_fromPage.title}} - FAC
        {{else}}
            FAC
        {{/if}}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="">

    <nav>
        <div class="overlay">
            <div class="logo">Friendly Arabic Church</div>
            <span class="material-icons">menu</span>
        </div>
        <div class="nav-items">
            <a href="">Home</a>
            <a href="">About Us</a>
        </div>
    </nav>
    <main>
        <section class="page-header bck-img gradient" style="background-image: url(/images/pray.jpg)">
            <div class="title">Sharing the Love of Jesus</div>
        </section>

        <section class="tile bck-img gradient" style="background-image: url(/images/conference.jpg)">
            <div class="title">2022 Conference</div>
            <div class="content">Our Anual Conference on Labor Day Week is coming! Sign up now!</div>
            <span class="material-icons">chevron_right</span>
        </section>
    </main>
    <footer>
        <div>© 2022 Friendly Arabic Church. All Rights Reserved.</div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/main.js"></script>

</body>
</html>