<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=.9" />
    <title>
        {{#if _fromPage.title}}
            {{_fromPage.title}} - FAC
        {{else}}
            FAC
        {{/if}}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="">

    <nav>
        <div class="overlay">
            <a href="/"><div class="logo">Friendly Arabic Church</div></a>
            <span id="menu-toggle" class="material-icons">menu</span>
        </div>
        <div class="nav-items">
            <a href="/about">About</a>
            <a href="/">Contact</a>
            <a href="/">Give</a>
        </div>
    </nav>
    <main>
       {{{body}}}
    </main>
    <footer>
        <div>© 2022 Friendly Arabic Church. All Rights Reserved.</div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/main.js"></script>

</body>
</html>