{{#section 'title'}}History{{/section}}
{{#section 'navstyle'}}clear{{/section}}

<div class="page-header">
    <h1>History</h1>
</div>
<div class="main-content text-content">
    <p>In 1984, God moved the heart of Rev. William (Bill) Hern to plant Arabic ministries in North Carolina.  Returning from the mission field in the Middle East on medical leave, Bill began working with the Home Mission of the North Carolina Southern Baptist Convention. He began a home bible study for Arabic speaking locals in the Triad area.</p>
    <p>Two years later, the new-born congregation was hosted by a parent church (Friendly Avenue Baptist Church) in Greensboro, North Carolina until moving into the new constructed building in June 2006. Friendly Arabic Church (FAC) was pastored by Rev. Maged Basily from 5/1986 to 6/2009.</p>
    <p>In 2023, Friendly Arabic Church relocated to Clemmonsville. To better reflect the current state of the congretation, they changed the name to `Bible Church of Clemmons`</p>
    <p>Today, Bible Church of Clemmons is a Bible believing congregationg who are associated with the Southern Baptist Convention.</p>
    <p>Members include Christian believers from all across the world, including: America, Egypt, Iran, Jordan, Lebanon, Palestine/Israel, Sudan, Syria and Iraq.</p>
</div>